* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.banner {
  background-image: url('banner.jpg');
  height: 7vw;
}

.banner_leo {
  background-image: url('banner2.jpg');
  height: 7vw;
}

.banner h1, .banner_leo h1 {
  text-align: center;
  font-size: 5vw;
  color: white;
  opacity: 0.7;
}

.images {
  float: left;
  width: 20%;
  height: 535px;
  object-fit: cover;
}

.links {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 20px;
  background-image: url('banner2.jpg');
}

.links:hover {
  background-color: white;
  opacity: 0.5;
}

.choose {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 50px;
  color: darkred;
}

.links a {
  color: white;
}
